/* Grinnell main style sheet */

/* general */

body
{
  font-family: Helvetica, Arial, sans-serif;
}

a
{
  color: #cf2c27;
}

a:hover
{
  
}

a.active
{
  color: #cf2c27;
}

h1, h2, h3, h4, h5, h6
{
  
}

h1
{
  
}

h2
{
  font-weight: normal;
}

h3
{
  font-weight: normal;
}

h4
{
  
}

h5
{
  
}

h6
{
  
}

table
{
  
}

table tr
{
  width: 100%;
}

table th,
table td
{
  
}

div.content-messages div.messages,
div.content-help div.help
{
  border-width: 1px;
}




/* Header Top */

#header-top
{
  width: 100%;
  height: 30px;
  background: #000;
  
}

a.grinnell-home
{
  float: left;
  width: 227px;
  height: 28px;
  background: url('../images/grinnell-logo.png') center top no-repeat transparent;
  margin: 0px 0px 0px 10px;
  padding: 0px 0px 0px 0px;
  
  /*  http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement */
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}

#secondary-menu
{
  float: right;
  width: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}


#secondary-menu
{
  margin: 7px 0px 0px 0px;
  color: #ccc;
}

#secondary-menu ul
{
  
}

#secondary-menu ul li
{
  padding: 0px 5px 0px 5px;
}

#secondary-menu ul li a
{
  color: #ccc;
}

#secondary-menu ul li a:hover
{
  
}

#secondary-menu ul li a.active
{
  color: #cf2c27;
}

/* Header */

#header-site-info
{
  width: 100%;
  height: 100px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  
  background: url('../images/header-bg-100.png') center top repeat-x transparent;
}

#site-name-wrapper
{
  float: left;
  margin: 40px 0px 0px 20px;
}

#site-name,
#site-name a
{
  font-size: 30px;
  line-height: 30px;
  font-weight: 200;
  font-family: Helvetica, Arial, sans-serif;
  color: #ddd;
}

#logo
{
  float: left;
  margin: 30px 0px 0px 20px;
}

.custom-banner #header-site-info
{
  height: auto;
  background: none;
}

.custom-banner #header-site-info-inner
{
  margin: 0px 0px 0px 0px;
}

.custom-banner #banner
{
  
}

.custom-banner #banner a
{
  
}

.custom-banner #banner img
{
  float: left;
}

/* Navigation */

#navigation
{
  float: left;
  width: 100%;
  height: 33px;
  background: #e6e6e6;
  
}

#primary-menu
{
  float: left;
  width: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#primary-menu-inner
{
  margin-left: 1px;
  margin-right: 1px;
}

#primary-menu ul
{
  
}

#primary-menu ul li
{
  
}

#primary-menu ul li a
{
  font-size: 13px;
  line-height: 18px;
  color: #333;
  height: 24px; /* 32px */
  margin: 0px 0px 0px 0px;
  padding: 8px 15px 0px 15px;
}

#primary-menu ul li a:hover
{
  color: #cf2c27;
  background: #efefef;
}

#primary-menu ul li a.active
{
  color: #cf2c27;
  background: #f5f5f5;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul
{
  top: 33px;
}

#primary-menu ul li li
{
  background: #f6f6f6;
}

#primary-menu ul li li a:hover
{
  background: #efefef;
}


#navigation .islandora-solr-search-simple
{
  float: right;
  width: auto;
  margin: 3px 10px 0px 0px;
}

#navigation .islandora-solr-search-simple #edit-islandora-simple-search-query-wrapper
{
  float: left;
  width: 180px;
  height: 27px;
  margin: 0px 0px 0px 0px;
}

#navigation .islandora-solr-search-simple #edit-islandora-simple-search-query-wrapper input
{
  float: left;
  width: 180px;
  height: 23px; /* 27px */
  padding: 2px 2px 2px 7px;
  border: 0px;
  
  color: #999;
  font-size: 12px;
  font-style: italic;

  -webkit-box-shadow: 2px 10px 20px -10px #999 inset; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: 2px 10px 20px -10px #999 inset; /* FF3.5 - 3.6 */
          box-shadow: 2px 10px 20px -10px #999 inset; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
  outline: none;

}

#navigation .islandora-solr-search-simple .form-submit
{
  float: left;
  width: 35px;
  height: 27px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  
  
  border: 0px;
  
  background-color: #cd2b26;
  background: url('../images/magnifier-gradient.png') 0px 0px no-repeat #cd2b26;
/*  background: url('../images/magnifier.png') 0px 0px no-repeat,  -webkit-gradient(linear, left top, left bottom, from(#cd2b26), to(#7c0505));  Saf4+, Chrome 
  background: url('../images/magnifier.png') 0px 0px no-repeat,  -webkit-linear-gradient(top, #cd2b26, #7c0505);  Chrome 10+, Saf5.1+, iOS 5+ 
  background: url('../images/magnifier.png') 0px 0px no-repeat,     -moz-linear-gradient(top, #cd2b26, #7c0505);  FF3.6 
  background: url('../images/magnifier.png') 0px 0px no-repeat,      -ms-linear-gradient(top, #cd2b26, #7c0505);  IE10 
  background: url('../images/magnifier.png') 0px 0px no-repeat,       -o-linear-gradient(top, #cd2b26, #7c0505);  Opera 11.10+ 
  background: url('../images/magnifier.png') 0px 0px no-repeat,          linear-gradient(to bottom, #cd2b26, #7c0505);
  */
  /*  http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement */
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}

#navigation .islandora-solr-search-simple .form-submit:active
{
  background-color: #c4413d;
  background: url('../images/magnifier-gradient.png') 0px 0px no-repeat #c4413d;
/*  background: url('../images/magnifier.png') 0px 0px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#c4413d), to(#8c2726));  Saf4+, Chrome 
  background: url('../images/magnifier.png') 0px 0px no-repeat, -webkit-linear-gradient(top, #c4413d, #8c2726);  Chrome 10+, Saf5.1+, iOS 5+ 
  background: url('../images/magnifier.png') 0px 0px no-repeat,    -moz-linear-gradient(top, #c4413d, #8c2726);  FF3.6 
  background: url('../images/magnifier.png') 0px 0px no-repeat,     -ms-linear-gradient(top, #c4413d, #8c2726);  IE10 
  background: url('../images/magnifier.png') 0px 0px no-repeat,      -o-linear-gradient(top, #c4413d, #8c2726);  Opera 11.10+ 
  background: url('../images/magnifier.png') 0px 0px no-repeat,         linear-gradient(to bottom, #c4413d, #8c2726);*/

}

/* Main */

#main
{
  margin-top: 15px;
}



/* Footer */



/* Footer separator */

#footer-contact
{
  width: 100%;
}

#footer-contact #contact-form-drawer
{
  display: none;
}

#footer-contact .contact-form-link-wrapper
{
  width: 100%;
  text-align: center;
}

#footer-contact .contact-form-link-wrapper a
{
  
}

#footer-contact .form-item
{

}

#footer-contact #edit-message-wrapper
{
  
}


/* Footer separator */

#footer-separator
{
  width: 100%;
  height: 33px;
  background: url('../images/footer-bar.png') center top repeat-x transparent;
}

#footer-logo
{
  width: 34px;
  height: 33px;
  margin: 0px auto;
  background: url('../images/footer-icon-white.png') 0px 3px repeat-x transparent;
  
}


/* Contact Form */
